<!-- templates/bookstore/home.html -->
{% extends 'bookstore/base.html' %}
{% load static %}
{% block title %}boo(kn)erds{% endblock %}

{% block content %}
{% if promo is not None %}
<header class="jumbotron my-4">
	<div class="row">
		<div class="col">
			<h1 class="display-3 text-capitalize">{{ promo.name }}</h1>
			<p class="lead">{{ promo.details }}</p>
			<p class="lead">Enter <b><strong><em class="bg-primary rounded p-1 text-white">{{ promo.promocode }}</em></strong></b> at Checkout!</p>
			<p class="lead">Valid {{ promo.valid_from }} - {{ promo.valid_to }}</p>
		</div>
		<div class="col align-self-center">
			<img class="img-fluid" src="{% static 'bookstore/img/sale.png' %}" alt="Sale">
		</div>
	</div>
</header>
{% endif %}
<div class="row text-center">
	{% for book in featured_books %}
		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="{{ book.image.url }}" alt="{{ book.title }}">
				<div class="card-body">
					<h4 class="card-text">{{ book.title }}</h4>
					<p class="card-text">By: {{ book.author }}</p>
				</div>
				<div class="card-footer">
					<a href="{{ book.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Find Out More!</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
