{% extends 'bookstore/base.html' %}

{% load crispy_forms_tags %}

{% block title %}boo(kn)erds - Customer{% endblock %}

{% block content %}
<div class="container">
    <h2>Customer Registration</h2>
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ user_form|crispy }}
        {{ form|crispy }}
        </br>
        <button type="submit" class="btn btn-primary p-1">Register</button>
				<a href="{% url 'users:user_login' %}" class="btn btn-primary p-1">Already Registered?</a>
    </form>
</div>
{% endblock %}
