<!-- templates/users/customer_register.html -->
{% extends 'bookstore/base.html' %}
{% load crispy_forms_tags %}
{% block title %}boo(kn)erds - Customer Register{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <div class="row">
        <div class="col text-center">
            <h3>Customer Registration</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ user_form|crispy }}
        </div>
        <div class="col">
            {{ customer_form|crispy }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-1 btn-lg btn-block">Register</button>
</form>
{% endblock %}
