{% extends 'bookstore/base.html' %}

{% load crispy_forms_tags %}

{% block title %}boo(kn)erds - Login{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ user_form|crispy }}
        {{ form|crispy }}
        </br>
        <button type="submit" class="btn btn-primary p-1">Login</button>
				<button type="button" class="btn btn-primary p-1">Forgot Password</button>
    </form>
</div>
{% endblock %}
