<!-- templates/users/login.html -->
{% extends 'bookstore/base.html' %}

{% load crispy_forms_tags %}

{% block title %}boo(kn)erds - Login{% endblock %}

{% block content %}
<form method="post" class="needs-validation" novalidate>
	{% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-4">
            <h3>Login</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            {{ form|crispy }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <button type="submit" class="btn btn-primary mt-1 btn-lg btn-block">Login</button>
        </div>
    </div>
</form>
{% endblock %}
