<!-- templates/users/login.html -->
{% extends 'bookstore/base.html' %}

{% load crispy_forms_tags %}

{% block title %}boo(kn)erds - Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-4">
		<form method="post" class="needs-validation" novalidate>
			{% csrf_token %}
				<div class="card">
					<div class="card-header">
						<h3>Login</h3>
					</div>
					<div class="card-body">
						{{ form|crispy }}
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary mt-1 btn-lg btn-block">Login</button>
						<a href="{% url 'users:customer_register' %}" class="btn btn-primary mt-1 btn-lg btn-block">Register</a>
					</div>
				</div>
		</form>
	</div>
</div>
{% endblock %}
