{% extends 'bookstore/base.html' %}

{% load static %}

{% block title %}boo(kn)erds - {{ user.first_name }}{% endblock %}

{% block content %}
<!-- Profile Informatin -->
<div class="row justify-content-center p-1">
  <div class="col-6">
    <div class="card">
      {% if not profile.avatar %}
        <img class="img-fluid rounded-circle mx-auto" src="{% static 'users/img/user.png' %}" alt="Placeholder" width="200px" height="320px">
      {% else %}
        <img class="img-thumbnail rounded-circle mx-auto" src="{{ profile.avatar.url }}" alt="{{ user.username }}" width="200px" height="320px">
      {% endif %}
      <div class="card-body text-center">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h3>{{ user.username }}</h3>
        {% if profile is not None %}
          <p>{{ profile.street_address }} {{ profile.city }} {{ profile.state }} {{ profile.zipcode }}</p>
          {% if profile.is_customer %}
            <h4>Birthday</h4>
            <p>{{ profile.date_of_birth }}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if profile is not None %}
  <!-- Buttons -->
  <div class="row justify-content-center p-1">
    <div class="col text-center">
      {% if profile.is_customer %}
      <a href="{% url 'users:edit_profile' request.user.id %}" class="btn btn-primary">Edit Profile</a>
      {% if profile.subscribed %}
      <a href="{% url 'users:unsubscribe' %}" class="btn btn-primary">Unsubscribe</a>
      {% else %}
      <a href="{% url 'users:unsubscribe' %}" class="btn btn-primary">Subscribe</a>
      {% endif %}
      {% elif profile.is_vendor %}
      <a href="{% url 'users:edit_profile' request.user.id %}" class="btn btn-primary">Edit Profile</a>
      <a href="{% url 'book:add_book' request.user.id %}" class="btn btn-primary">Add Book</a>
      {% endif %}
      <a href="{% url 'users:deactivate' request.user.id %}" class="btn btn-primary">Remove Account</a>
    </div>
  </div>
  <!-- Orders or Books -->
  <div class="row table-responsive p-1">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            {% if profile.is_customer %}
              <th scope="col">Date</th>
              <th scope="col">Order ID</th>
              <th scope="col">Total</th>
              <th scope="col">Details?</th>
            {% elif profile.is_vendor %}
              <th scope="col">Book</th>
              <th scope="col">Author</th>
              <th scope="col">Price</th>
              <th scope="col">Vendor Price</th>
              <th scope="col">Modify?</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if profile.is_customer %}
            {% for order in orders %}
              <tr>
                <td>{{ order.order_date }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.total }}</td>
                <td>
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'order:order_details' order.id %}" class="btn btn-primary btn-lg btn-block m-1">Details</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% elif profile.is_vendor %}
            {% for book in books %}
              <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.sale_price }}</td>
                <td>{{ book.vendor_price }}</td>
                <td>
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'book:edit_book' book.id %}" class="btn btn-primary btn-lg btn-block m-1">Edit Book</a>
                    </div>
                    <div class="col">
                      <a href="{% url 'book:delete_book' book.id %}" class="btn btn-primary btn-lg btn-block m-1">Delete Book</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
{% endblock %}
