{% extends 'bookstore/base.html' %}

{% block title %}boo(kn)erds - {{ user.first_name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    {% if profile is not None %}
    <p>Street Address: {{ profile.street_address  }}</p>
    <p>Zipcode: {{ profile.zipcode }}</p>
    <p>City: {{ profile.city }}</p>
    <p>State: {{ profile.state }}</p>
    {% if profile.is_customer %}
    <p>Date of Birth: {{ profile.date_of_birth }}</p>
    <p>Profile Type: Customer</p>
    <a href="#" class="btn btn-primary">Edit Profile</a>
    <!-- TODO Print out all of the Customer Orders -->
    {% else %}
    <p>Profile Type: Vendor</p>
    <a href="#" class="btn btn-primary">Edit Profile</a>
    <a href="#" class="btn btn-primary">Add Book</a>
    <a href="#" class="btn btn-primary">Edit Book</a>
    <!-- TODO Print out all of the Vendor Books -->
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
