<!-- templates/book/details.html -->
{% extends 'bookstore/base.html' %}

{% block title %}boo(kn)erds - Details{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="card">
      <!-- This is in case there isn't an image uploaded for a Book. -->
      {% if not book.image %}
        <img class="card-img-top" src="https://placehold.it/900x400" alt="Placeholder">
      {% else %}
        <img class="img-fluid rounded mx-auto d-block" src="{{ book.image.url }}" alt="{{ book.title }}" width="200px" height="320px">
      {% endif %}
      <div class="card-body">
        <h3 class="card-title">{{ book.title }}</h3>
        <p class="card-text">By: {{ book.author }}</p>
        <h4>${{ book.sale_price }}</h4>
      </div>
      <a href="{{ book.add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
      <div class="card-footer">
        {% if book.summary %}
          <h3 class="card-title">Description</h3>
          {{ book.summary }}
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
